.primary-header
  position: relative
  display: flex
  align-items: center
  justify-content: space-between

.header-menu
  +breakpoint($medium)
    display: none

  ul
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    -webkit-margin-start: 0
    -webkit-margin-end: 0
    -webkit-padding-start: 0
    list-style: none
    text-align: right

    li
      display: inline-block
      position: relative

      &:hover
        .sub-menu
          display: block

      a
        display: block
        color: $gray
        padding: 24px 10px 28px

      &:hover
        background: rgba(126,126,126,.1)

    .button
      padding: 0

      a
        padding: 12px 22px 12px 22px
        color: white

      &.current-menu-item
        a
          padding: 12px 22px 12px 22px
          border-bottom: 0

    .current-menu-item > a
      border-bottom: 10px solid $brand-primary
      padding: 26px 15px 18px

  .menu-item-has-children
    &:before
      content: "\f107"
      display: inline-block
      font-family: 'FontAwesome'
      font-style: normal
      font-weight: normal
      line-height: 1
      -webkit-font-smoothing: antialiased
      color: $med-gray
      position: absolute
      bottom: 10px
      left: 50%
      margin-left: -5px

  .sub-menu
    position: absolute
    width: 220px
    left: -110px
    margin-left: 50%
    background: rgba(255,255,255, .95)
    text-align: center
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    box-shadow: 0 1px 3px rgba(0,0,0,.2)
    border-top: 1px solid $light-gray
    display: none
    padding: 5px 0

    li
      width: 100%

      a
        width: 100%

    .current-menu-item > a
      border-left: 10px solid $brand-primary
      border-bottom: none
      padding: 26px 15px 28px

    &:before
      content: ''
      border-bottom: 16px solid $light-gray
      border-left: 16px solid transparent
      border-right: 16px solid transparent
      position: absolute
      top: -16px
      margin-left: 50%
      left: -16px

    &:after
      content: ''
      border-bottom: 14px solid rgba(255,255,255, .9)
      border-left: 14px solid transparent
      border-right: 14px solid transparent
      position: absolute
      top: -14px
      margin-left: 50%
      left: -14px
