.menu-toggle
  display: none
  +breakpoint($medium)
    width: 60px
    height: 60px
    display: block
    cursor: pointer
    position: relative

    &:before
      content: '\f0c9'
      +rem('font-size',24px)
      font-family: 'FontAwesome'
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    &.active:before
      content: '\f00d'
      color: $blue


+breakpoint($medium)
  .pushed
    left: -260px
    transition: all .3s ease-in-out

.responsive-menu
  display: none
  +breakpoint($medium)
    position: fixed
    right: -260px
    top: 0
    display: block
    width: 260px
    background: darken($gray,3%)
    height: 100%
    z-index: 2000
    overflow-y: scroll
    +rem('font-size', 16px)
    transition: all .3s ease-in-out

    &.active
      right: 0
      transition: all .3s ease-in-out


    .menu-item-has-children
      font-weight: bold
      margin-top: 25px

    ul
      list-style: none
      -webkit-margin-before: 0
      -webkit-margin-after: 0
      -webkit-margin-start: 0
      -webkit-margin-end: 0
      -webkit-padding-start: 0

    li a
      padding: 8px 40px
      color: white
      display: block

    .sub-menu
      li
        font-weight: normal

    .button.red
      background: rgba(255,255,255,.3)
      margin: 10px 40px
      text-align: center
      padding: 8px 0
      box-shadow: 0 0 0
      border: 1px solid white

    .menu-social-icons
      color: white
      padding: 0 40px

      .fa
        color: white
        font-size: 24px
