.secondary-header
  background: $gray
  color: white
  display: flex
  justify-content: space-between
  +rem('font-size', 14px)
  +breakpoint($x-small)
    +rem('font-size', 13px)

  a
    display: inline-block
    padding: 6px 10px
    color: white

    &:hover
      text-decoration: underline

    +breakpoint($x-small)
      padding: 5px

  .language-selector
    position: relative
    display: inline-block
    text-transform: uppercase
    +rem('font-size', 14px)
    font-weight: bold
    padding: 6px 10px
    +breakpoint($x-small)
      +rem('font-size', 13px)
      padding: 5px

    &:hover
      cursor: pointer
      background: lighten($gray, 5)

    &.menu-open
      background: white
      color: $gray

      .language-selector__menu
        display: block

    &__menu
      display: none
      list-style: none
      position: absolute
      z-index: 9999
      right: 0
      top: 100%
      width: 200px
      background: white
      box-shadow: 0 2px 3px rgba(0,0,0,.1)
      +breakpoint($x-small)
        width: 100vw

      a
        position: relative
        color: $gray
        text-transform: capitalize
        display: block
        padding: 15px 30px 15px 45px
        +rem('font-size', 16px)

        &:before
          content: "\f10c"
          font-family: 'FontAwesome'
          position: absolute
          +rem('font-size', 20px)
          left: 15px
          top: 50%
          transform: translateY(-50%)
          color: $med-gray

        &:hover
          text-decoration: none
          background-color: $rly-light-gray

      .current-lang a:before
        content: "\f058"
        color: $blue
