.top-nav
  +container
  position: fixed
  background: rgba(255,255,255, .9)
  width: 100%
  max-width: 1180px
  +rem('font-size', 14px)
  box-shadow: 0 2px 3px rgba(0,0,0,.1)
  z-index: 1000
  +breakpoint($medium)
    position: fixed
    top: 0
    left: 0
    transition: all .3s ease-in-out

  .logo
    height: 70px
    width: 265px
    display: block
    +breakpoint($small)
      height: 60px
      width: 265px

    img
      width: auto
      height: 100%
