/*!
Theme Name: Martin W. Lester P.A.
Theme URI: http://brycehewett.com
Author: Bryce Hewett
Version: 1.0
Author URI: http://brycehewett.com
Text Domain: lesterlaw
Domain Path: /languages
*/

$gray: #393a3c;
$med-gray: lighten($gray, 40);
$light-gray: lighten($gray, 65);
$rly-light-gray: lighten($gray, 70);
$brand-primary: #8c0c04;
$red: #b91410;
$yellow: #e8c014;
$green: #0d9717;
$blue: #3498db;
$youtube: #F91629;
$twitter: #33A4EC;
$facebook: #3D5C95;

$x-small: max-width 426px;
$small: max-width 768px;
$medium: max-width 1100px;
$large: 1051px;

$phone-to-tablet: $x-small $small;

$lato-font-path: "fonts";
$aleo-font-path: "fonts";
$fa-font-path: "libs/font-awesome/fonts";

@import "susy";
@import "breakpoint";
@import "normalize";
@import "mixins/_rem";

@import "includes/_wordpress-reset";
@import "../libs/font-awesome/scss/font-awesome";
@import "../libs/flexslider/flexslider";

@import "includes/_layout";
@import "includes/_fonts";
@import "includes/_typography";
@import "includes/top-nav/_top-nav";
@import "includes/top-nav/_primary-header";
@import "includes/top-nav/_secondary-header";
@import "includes/top-nav/_responsive-nav";
@import "includes/_posts";
@import "includes/_forms";
@import "includes/_buttons";
@import "includes/_sidebar";
@import "includes/_footer";
// Page Specific Stuff
@import "includes/pages/_page";
@import "includes/pages/_page-home";
@import "includes/pages/_page-locations";
@import "includes/pages/_page-team-members";
@import "includes/pages/_page-404";
@import "includes/pages/_page-videos";
