
// Lato Regular
@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-regular/lato-regular.eot');
  src: url('#{$lato-font-path}/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$lato-font-path}/lato-regular/lato-regular.woff') format('woff'),
    url('#{$lato-font-path}/lato-regular/lato-regular.ttf') format('truetype'),
    url('#{$lato-font-path}/lato-regular/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Lato Italic
@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-italic/lato-italic.eot');
  src: url('#{$lato-font-path}/lato-italic/lato-italic.eot?#iefix') format('embedded-opentype'),
    url('#{$lato-font-path}/lato-italic/lato-italic.woff') format('woff'),
    url('#{$lato-font-path}/lato-italic/lato-italic.ttf') format('truetype'),
    url('#{$lato-font-path}/lato-italic/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

//Lato Bold Italic
@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-bold-italic/lato-bold-italic.eot');
  src: url('#{$lato-font-path}/lato-bold-italic/lato-bold-italic.eot?#iefix') format('embedded-opentype'),
    url('#{$lato-font-path}/lato-bold-italic/lato-bold-italic.woff') format('woff'),
    url('#{$lato-font-path}/lato-bold-italic/lato-bold-italic.ttf') format('truetype'),
    url('#{$lato-font-path}/lato-bold-italic/lato-bold-italic.svg#latobolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

//Lato Bold
@font-face {
  font-family: 'Lato';
  src: url('#{$lato-font-path}/lato-bold/lato-bold.eot');
  src: url('#{$lato-font-path}/lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$lato-font-path}/lato-bold/lato-bold.woff') format('woff'),
    url('#{$lato-font-path}/lato-bold/lato-bold.ttf') format('truetype'),
    url('#{$lato-font-path}/lato-bold/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Aleo Regular
@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-regular/aleo-regular.eot');
  src: url('#{$aleo-font-path}/aleo-regular/aleo-regular.eot?#iefix') format('embedded-opentype'),
    url('#{$aleo-font-path}/aleo-regular/aleo-regular.woff') format('woff'),
    url('#{$aleo-font-path}/aleo-regular/aleo-regular.ttf') format('truetype'),
    url('#{$aleo-font-path}/aleo-regular/aleo-regular.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Aleo Italic
@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-regular-italic/aleo-italic.eot');
  src: url('#{$aleo-font-path}/aleo-regular-italic/aleo-italic.eot?#iefix') format('embedded-opentype'),
    url('#{$aleo-font-path}/aleo-regular-italic/aleo-italic.woff') format('woff'),
    url('#{$aleo-font-path}/aleo-regular-italic/aleo-italic.ttf') format('truetype'),
    url('#{$aleo-font-path}/aleo-regular-italic/aleo-italic.svg#aleoitalic') format('svg');
  font-weight: normal;
  font-style:  italic;
}

// Aleo Bold
@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-bold/aleo-bold.eot');
  src: url('#{$aleo-font-path}/aleo-bold/aleo-bold.eot?#iefix') format('embedded-opentype'),
    url('#{$aleo-font-path}/aleo-bold/aleo-bold.woff') format('woff'),
    url('#{$aleo-font-path}/aleo-bold/aleo-bold.ttf') format('truetype'),
    url('#{$aleo-font-path}/aleo-bold/aleo-bold.svg#aleobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Aleo Bold Italic
@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-bold-italic/aleo-bold-italic.eot');
  src: url('#{$aleo-font-path}/aleo-bold-italic/aleo-bold-italic.eot?#iefix') format('embedded-opentype'),
    url('#{$aleo-font-path}/aleo-bold-italic/aleo-bold-italic.woff') format('woff'),
    url('#{$aleo-font-path}/aleo-bold-italic/aleo-bold-italic.ttf') format('truetype'),
    url('#{$aleo-font-path}/aleo-bold-italic/aleo-bold-italic.svg#aleobolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

// Aleo Light
@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-light/aleo-light.eot');
  src: url('#{$aleo-font-path}/aleo-light/aleo-light.eot?#iefix') format('embedded-opentype'),
    url('#{$aleo-font-path}/aleo-light/aleo-light.woff') format('woff'),
    url('#{$aleo-font-path}/aleo-light/aleo-light.ttf') format('truetype'),
    url('#{$aleo-font-path}/aleo-light/aleo-light.svg#aleolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Aleo Light Italic
@font-face {
  font-family: 'Aleo';
  src: url('#{$aleo-font-path}/aleo-light-italic/aleo-light-italic.eot');
  src: url('#{$aleo-font-path}/aleo-light-italic/aleo-light-italic.eot?#iefix') format('embedded-opentype'),
    url('#{$aleo-font-path}/aleo-light-italic/aleo-light-italic.woff') format('woff'),
    url('#{$aleo-font-path}/aleo-light-italic/aleo-light-italic.ttf') format('truetype'),
    url('#{$aleo-font-path}/aleo-light-italic/aleo-light-italic.svg#aleolightitalic') format('svg');
  font-weight: 300;
  font-weight: italic;
}

// flexslider-icon
@font-face {
  font-family: 'flexslider-icon';
  src: url('libs/flexslider/fonts/flexslider-icon.eot');
  src: url('libs/flexslider/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('libs/flexslider/fonts/flexslider-icon.woff') format('woff'),
    url('libs/flexslider/fonts/flexslider-icon.ttf') format('truetype'),
    url('libs/flexslider/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: 300;
  font-weight: italic;
}
