.footer
  color: white
  border-top: 8px solid $brand-primary
  box-shadow: inset 0 2px 0 darken($brand-primary, 10)
  +rem('font-size',16px)
  background: $gray
  overflow: auto
  clear: both
  padding: 0 15px

  a
    color: white

.footer-menu
  +span(9 of 12 last)
  +breakpoint($medium)
    display: none

  ul
    margin: 25px 0

    li
      display: inline-block
      margin: 8px 0

      a
        color: white
        padding: 0 9px
        +rem('font-size', 14px)

      &.button
        padding: 0

        a
          padding: 10px
          margin: 0
          display: inline-block

      &.white a
        color: $gray

    li:first-child a
      padding-left: 0

.footer-bar
  background: $brand-primary
  color: white
  padding: 15px 0 30px 0
  text-align: center

  h2
    display: inline-block

  &__social-links
    display: inline-block

  &__social-button
    background: rgba(0,0,0,.3)
    border: 2px solid
    border-color: rgba(0,0,0,0)
    width: 50px
    height: 50px
    border-radius: 100%
    color: white
    position: relative
    transform: translatey(35%)
    margin: 0 5px

    &:before
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      +rem('font-size', 24px)

    &:hover
      border-color: rgba(255,255,255,.6)
      cursor: pointer

  .fa-facebook:hover
    background: $facebook

  .fa-twitter:hover
    background: $twitter

  .fa-youtube-play:hover
    background: $youtube

.footer-static-col
  text-align: center
  +span(3 of 12 first)

  +breakpoint($medium)
    +span(12 of 12)
    text-align: center
    margin-bottom: 30px

.footer-logo
  display: block
  background: url(images/footer-logo.png) no-repeat center center
  background-size: contain
  margin-top: 38px
  margin-bottom: 62px
  height: 100px
  +breakpoint($medium)
    width: 271px
    margin: 30px auto

.footer-social-icons
  text-align: center

  .fa
    +rem('font-size', 24px)

.footer-custom-content
  +span(9 of 12 last)
  +rem('font-size', 14px)
  +breakpoint($medium)
    width: 100%

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
  h3
    +rem('font-size', 18px)

  +breakpoint($medium)
    text-align: center
    padding-right: 0

    .alignright
      float: none
      display: inline
      margin: 0

.footer-col-1
  +span(3 of 12)
  +breakpoint($small)
    +span(12 of 12)

.footer-col-2
  +span(3 of 12)
  +breakpoint($small)
    +span(12 of 12)

.footer-col-3
  +span(3 of 12)
  +breakpoint($small)
    +span(12 of 12)

.footer-col-4
  +span(3 of 12 last)
  +breakpoint($small)
    +span(12 of 12)

.copyright
  +span(12 of 12 clear)
  margin: 0
  padding: 15px
  text-align: center
  +rem('font-size', 13px)
  color: $med-gray

  p
    display: inline
  ul
    list-style: none
    display: inline
    li
      display: inline
      a
        color: $med-gray

        &:hover
          text-decoration: underline
