*
  box-sizing: border-box

html
  overflow-x: hidden
  -webkit-font-smoothing: antialiased

body
  color: $gray
  overflow-x: hidden
  background: $rly-light-gray

img
  color: $rly-light-gray

.container
  +container
  max-width: 1180px
  position: relative

.site-wrapper
  left: 0
  width: 100%
  position: relative
  transition: all .3s ease-in-out

.content
  margin: 0 auto
  background: white
  box-shadow: 0 0 12px rgba(0,0,0,.1)

.single-column-container
  padding: 120px 15% 90px 15%
  overflow: auto
  min-height: 62vh
  +breakpoint($small)
    padding: 120px 5% 90px 5%

// 2 column layout
.two-column-container
  +container
  padding-top: 120px
  margin: 0 9% 90px
  min-height: 62vh

.column-two-thirds
  +span(8 of 12)
  +breakpoint($medium)
    +span(12 of 12)
    margin: 0

.column-one-third-last
  +span(4 of 12 last)
  +breakpoint($medium)
    +span(12 of 12)
    margin: 0

.sidebar
  padding-top: 40px
  padding-left: 3.69492%
  +breakpoint($medium)
    display: none

.hidden
  display: none
