.sidebar
  ul
    list-style: none
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    -webkit-margin-start: 0
    -webkit-margin-end: 0
    -webkit-padding-start: 0

    li
      list-style: none
      margin-bottom: 5px
