html
  font-size: 62.5%

body
  +rem ('font-size', 16px)
  font-family: 'Lato', sans-serif
  font-weight: normal


h1, h2, h3, h4, h5, h6
  margin-top: 15px
  margin-bottom: 0


h4, h5, h6
  font-weight: bold

em
  font-style: italic

strong
  font-weight: bold

a
  color: $brand-primary
  text-decoration: none
  transition: all 0.1s ease

  &:hover
    transition: all 0.1s ease

h1, h2, h3, h4, h5, h6
  font-family: 'Aleo', serif
  font-weight: normal
  line-height: 158%

h1
  +rem('font-size', 36px)
  line-height: 118%
  +breakpoint($small)
    +rem('font-size', 30px)
  +breakpoint($x-small)
    +rem('font-size', 26px)

h2
  +rem('font-size', 28px)
  +breakpoint($small)
    +rem('font-size', 26px)
  +breakpoint($x-small)
    +rem('font-size', 24px)

h3
  +rem('font-size', 24px)
  +breakpoint($small)
    +rem('font-size', 22px)
  +breakpoint($x-small)
    +rem('font-size', 20px)

h4
  +rem('font-size', 22px)
  +breakpoint($small)
    +rem('font-size', 20px)
  +breakpoint($x-small)
    +rem('font-size', 18px)

h5
  +rem('font-size', 18px)
  +breakpoint($x-small)
    +rem('font-size', 16px)

h6
  +rem('font-size', 18px)
  text-transform: uppercase
  +breakpoint($x-small)
    +rem('font-size', 16px)

p
  margin-top: 5px
  margin-bottom: 20px
  line-height: 158%

ul
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  -webkit-padding-start: 0

blockquote
  +rem('font-size', 22px)
  color: $med-gray
  font-style: italic
  position: relative
  margin: 10px 25px
  padding-left: 25px
  border-left: 3px solid $rly-light-gray


article
  +rem('font-size',16px)

  ul
    list-style-type: circle

  ol
    list-style: decimal

  ol, ul
    -webkit-padding-start: 0
    margin: 15px 30px
    line-height: 150%

    li
      margin: 5px 0
