.alignnone
  margin: 5px 20px 20px 0

.aligncenter, div.aligncenter
  display: block
  margin: 5px auto 5px auto

.alignright
  float: right

.alignleft
  float: left

.aligncenter
  display: block
  margin: 5px auto 5px auto

.wp-caption
  max-width: 100% // Image does not overflow the content area
  position: relative

  .wp-caption-text
    line-height: 130%
    text-align: left
    color: $med-gray
    font-style: italic
    +rem('font-size',13px)
    margin-top: 5px
    margin-bottom: 20px

  .alignnone
    margin: 5px 20px 20px 0

  .alignleft
    margin: 5px 20px 20px 0

  .alignright
    margin: 5px 0 20px 20px

  img
    border: 0 none
    height: auto
    margin: 0
    max-width: 98.5%
    padding: 0
    width: auto

  p
    .wp-caption-text
      font-size: 11px
      line-height: 17px
      margin: 0
      padding: 0 4px 5px

.hidden
  display: none

img, object, embed
  max-width: 100%
  height: auto

.postmetadata
  margin-top: 10px
  color: $med-gray


ol
  .commentlist
    list-style: none

  li
    .comment
      border-bottom: 1px dotted $med-gray
      padding: 10px
    .even
      background: #fff
    .odd
      background: $rly-light-gray
    .parent
      border-left: 5px solid #111

    ul
      .children
        list-style: none
        margin: 10px 0 0

        li
          .depth-2
            border-left: 5px solid #555
            margin: 0 0 10px 10px

        li
          .depth-3
            border-left: 5px solid #999
            margin: 0 0 10px 10px

        li
          .depth-4
            border-left: 5px solid #bbb
            margin: 0 0 10px 10px

    div
      .comment-meta
        font-size: 10px

        a
          color: #ccc

      .reply
        font-size: 11px

        a
          font-weight: bold

      .vcard

        cite
          .fn
            font-style: normal

        img
          .avatar
            float: right
            margin: 0 0 10px 10px
