// Office locations Page
.office-location
  +span(6 of 12)
  height: 300px
  background-size: cover
  display: block
  border-radius: 5px
  border: 5px solid $light-gray
  position: relative
  +breakpoint($medium)
    +span(12 of 12)
    padding: 10px
    margin-bottom: 30px

  &:nth-child(2n+0)
    +span(6 of 12 last)
    +breakpoint($medium)
      +span(12 of 12)
      padding: 10px
      margin-bottom: 30px

  .office-link-overlay
    background: rgba(0,0,0,.1)
    display: block
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    padding: 20px

  img
    width: 100px
    height: 100px
    margin: 0 auto
    display: block
    margin-top: 20px
    opacity: .8
    +breakpoint($medium)
      margin-top: 30px

  span
    color: white
    text-align: center
    display: block
    font-weight: bold
    +rem('font-size',22px)
    text-shadow: 0 0 10px rgba(0,0,0,1)

  &:hover
    span
      text-decoration: none

  &.chattanooga
    background: url(images/chattanooga-thumb.jpg) no-repeat center center
    background-size: cover

  &.ft-walton
    background: url(images/ft-walton-thumb.jpg) no-repeat center center
    background-size: cover

  &.cleveland
    background: url(images/cleveland-thumb.jpg) no-repeat center center
    background-size: cover
