//Team Member Page
.team-member
  +span(6 of 12)
  margin-bottom: 30px
  +breakpoint($small)
    margin-top: 15px
    width: 100%

  &:nth-child(odd)
    +span(6 of 12 last)
    +breakpoint($small)
      margin-top: 15px
      width: 100%

  img
    float: left
    width: 135px
    margin-right: 30px
    border-radius: 5px
    border: 5px solid $light-gray
    +breakpoint($small)
      width: 100%
      margin: 15px 0

  h2
    line-height: 110%

  p
    margin-top: 0
    color: $med-gray

// Team member single page
.single-team-members
  header
    p
      color: $med-gray
      margin-top: 0
      line-height: 100%

  .attachment-post-thumbnail
    width: 250px
    float: left
    margin-right: 30px
    margin-bottom: 30px
    border-radius: 5px
    border: 5px solid $light-gray

    +breakpoint($small)
