.page-template-page-videos

  .more-videos-button
    padding: 20px
    display: block
    margin: 0 auto
    width: 200px
    margin-bottom: 30px

  .video-page-video
    +span(4 of 12)
    padding: 10px 5px
    min-height: 250px

    .video-thumbnail
      display: block
      width: 100%
      height: 150px
      background-size: cover
      background-repeat: none
      background-position: center

    &:nth-child(4n)
      +last

    +breakpoint($small)
      +span(6 of 12)

      &:nth-child(4n)
        +first

      &:nth-child(2n + 1)
        +last

    +breakpoint($x-small)
      +span(12 of 12)

      &:nth-child(4n)
        +first

      &:nth-child(2n + 1)
        +first

    h5
      +rem('font-size', 16px)
      font-weight: bold


  .weekly-updates
    &__latest
      background: $gray
      color: white

      &--container
        padding: 50px 5% 50px 5%
        max-width: 1170px
        margin: 0 auto
        overflow: auto

      &--video-column
        +span(8 of 12)
        +breakpoint($small)
          +span(12 of 12)

        .video-container
          background: black

      &--social-links
        +span(4 of 12 last)
        background: $brand-primary
        padding: 30px 15px
        text-align: center
        margin-top: 53px

        .social-links-spacer
          display: block
          margin: 20px

        .social-links
          &__social-button
            background: rgba(0,0,0,.3)
            border: 2px solid
            border-color: rgba(0,0,0,0)
            width: 50px
            height: 50px
            border-radius: 100%
            color: white
            position: relative
            transform: translatey(35%)
            margin: 0 5px

            &:before
              position: absolute
              top: 50%
              left: 50%
              transform: translate(-50%, -50%)
              +rem('font-size', 24px)

            &:hover
              border-color: rgba(255,255,255,.6)
              cursor: pointer

            &.fa-facebook:hover
              background: $facebook

            &.fa-twitter:hover
              background: $twitter

            &.fa-youtube-play:hover
              background: $youtube

        +breakpoint($small)
          display: none

    &__previous
      padding: 50px 15% 50px 15%
      overflow: auto
      +breakpoint($small)
        padding: 30px 5% 30px 5%

      &--video
        +span(4 of 12)
        padding: 10px 5px
        min-height: 250px

        time
          color: $med-gray

        h5
          font-weight: bold
          +rem('font-size', 16px)

        .video-thumbnail
          display: block
          width: 100%
          height: 150px
          background-size: cover
          background-repeat: none
          background-position: center

        &:nth-child(3n)
          +last

        +breakpoint($small)
          +span(6 of 12)

          &:nth-child(3n)
            +first

          &:nth-child(2n + 1)
            +last

        +breakpoint($x-small)
          +span(12 of 12)

          &:nth-child(4n)
            +first

          &:nth-child(2n + 1)
            +first
