.promo-image
  +span(12 of 12)
  min-height: 600px
  overflow: auto
  background: url(images/chattanooga-header.jpg) no-repeat center center
  background-size: cover
  padding: 98px 30px 30px 30px
  color: white
  display: flex
  flex-direction: column
  justify-content: center
  +breakpoint($medium)
    min-height: 425px
    padding: 88px 30px 30px 30px
  +breakpoint($small)
    min-height: 325px
    padding: 84px 30px 30px 30px

.promo-text
  width: 100%
  text-align: center
  margin-top: 30px
  +breakpoint($medium)
    width: 100%

  h1
    margin: 0
    +rem('font-size', 36px)
    font-weight: bold
    text-shadow: 0 0 40px rgba(0,0,0,1)
    +breakpoint($medium)
      +rem('font-size', 24px)

  span
    +rem('font-size', 22px)
    font-weight: normal
    +breakpoint($medium)
      +rem('font-size', 20px)

  a
    color: white
    text-shadow: 0 0 40px rgba(0,0,0,1)

  .button
    margin-left: 25px
    margin-top: 25px
    text-shadow: 0 0 40px rgba(0,0,0,0)
    box-shadow: 0 0 40px rgba(0,0,0,1)

.teaser-text
  padding: 65px 9% 100px
  background: $gray
  color: white
  text-align: center
  clear: both
  +breakpoint($medium)
    padding: 15px 9% 55px

  h2
    +rem(font-size, 26px)
    font-weight: 300
    margin-top: 40px
    +breakpoint($medium)
      +rem(font-size, 20px)

    strong
      font-weight: normal

.section
  +container
  height: 375px
  background: #ffffff
  background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 )
  +breakpoint($medium)
    height: auto

  .section-img
    height: 375px
    +breakpoint($medium)
      height: 375px

  .section-text
    text-align: left
    padding: 80px 10%
    +breakpoint($medium)
      padding: 50px 8%

  &.i-law
    .section-img
      +span(4 of 12 first)
      background: url(images/Immigration-law-teaser.jpg) no-repeat center center
      background-size: cover
      +breakpoint($small)
        +span(12 of 12)
        height: 250px

    .section-text
      +span(8 of 12 last)
      +breakpoint($small)
        +span(12 of 12)

  &.c-def
    .section-img
      +span(4 of 12 last break)
      background: url(images/Criminal-Defense-teaser.jpg) no-repeat center center
      background-size: cover

    .section-text
      +span(8 of 12 first)
      text-align: right
      +breakpoint($medium)
        text-align: left

  &.videos
    height: auto
    background: $gray
    padding: 50px 50px
    position: relative
    +breakpoint($small)
      padding: 50px 8%

    h5
      +rem('font-size', 14px)
      padding: 0 10px

    .home-page-videos
      float: left
      margin-right: 5px
      color: white
      width: 210px

    .video-thumbnail
      height: 110px
      width: 100%
      display: block
      background-size: cover
      background-repeat: none
      background-position: center

    .flex-control-paging
      display: none

    .flex-direction-nav
      a:before
        text-shadow: 0 0 0
        color: rgba(255,255,255,0.1)
