.header-image+article
  padding: 50px 17% 90px 17%
  overflow: auto
  +breakpoint($small)
    padding: 30px 8% 30px 8%

.header-image
  width: 100%
  height: 300px
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  +breakpoint($small)
    height: 150px

//BreadCrumbs

.crumbs
  +rem('font-size',16px)
  color: $med-gray

  a
    color: $med-gray

    &:hover
      color: $brand-primary
